# -*- coding: utf-8 -*-
#
# This file is part of Kwek Metrics.

import os
DEBUG = True
PROPAGATE_EXCEPTIONS = True

HOST_NAME = os.environ.get('OPENSHIFT_APP_DNS', 'localhost')
APP_NAME = os.environ.get('OPENSHIFT_APP_NAME', 'flask')
IP = os.environ.get('FLASK_SERVICE_HOST', '127.0.0.1')
PORT = int(os.environ.get('OPENSHIFT_PYTHON_PORT', 8080))

SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/kwek.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False

USERNAME = 'admin'
PASSWORD = 'default'
SECRET_KEY = os.environ.get('SECRET_KEY', 'dev key')
