{% extends "layout.html" %}

<!-- <section class=".container-fluid content"> -->
{% block body %}
<div class="row panel panel-default">
  <div class="panel-heading">Global Status <small>(total of {{projects|length}} projects)</small></div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Metric</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for metric in metrics %}
        <tr>
          <td>{{metric.id}}</td>
          <td>{{metric.display_name}}</td>
          <td>
            {{"{:.2f}".format((totals[metric.tag])*metric.conversion)}}
            {{values[metric.tag]}}
            {{metric.unit}}
            {% if metric.max != 0 %}
            (<strong>
              {{"{:.2f}".format((totals[metric.tag] / metric.max)*100)}}%
            </strong> of {{"{:.2f}".format((metric.max)*metric.conversion )}} {{metric.unit}} )
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="row panel panel-default">
  <div class="panel-heading">
    Your Projects
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          {% for metric in metrics %}
          <th>
            {{metric.display_name}}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for p in projects %}
          <tr>
            <td>{{loop.index}}</td>
            <td>
              <a href="{{url_for('kwek.stats', project=p['metadata']['name'])}}">
                {% if p['metadata']['annotations']['openshift.io/display-name'] %}
                  {{p['metadata']['annotations']['openshift.io/display-name']}}
                {% else %}
                  {{p['metadata']['name']}}
                {% endif %}
              </a>
            </td>
            {% for metric in metrics %}
              <td>
                {{"{:.2f}".format(
                  (values[p['metadata']['name']].avg[metric.tag]) * metric.conversion)
                }}
                {{ metric.unit }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>





{% endblock %}
<!-- </section class=".container-fluid content"> -->
