{% extends "layout.html" %}

{% block body %}


<h2>{{project}}</h2>

<p>Current status:</p>
{% for metric in metrics %}
  <li>
    {{metric.display_name}}:
    {{"{:.2f}".format((values[metric.name][0]['avg'])*metric.conversion)}}
    {{metric.unit}}
  </li>
{% endfor %}


<h3>Memory Usage</h3>
<svg id="memory" width="400" height="150"></svg>


<h3>CPU Usage</h3>
<svg id="cpu" width="400" height="150"></svg>


<h3>Network</h3>
<svg id="network" width="400" height="150"></svg>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var WIDTH = 400,
    HEIGHT = 150,
    MARGINS = {
      top: 20,
      right: 20,
      bottom: 20,
      left: 100
    }

{% for metric in metrics %}
  var {{metric.name}} = {{values[metric.name]|tojson|safe}};
  var {{metric.name}}_vis = d3.select('#{{metric.name}}')
  {{metric.name}}_xRange = d3.scaleLinear().range([MARGINS.left, WIDTH - MARGINS.right]).domain([d3.min({{metric.name}}, function(d) {
    return d.end;
  }), d3.max({{metric.name}}, function(d) {
    return d.end;
  })]),
  {{metric.name}}_yRange = d3.scaleLinear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([d3.min({{metric.name}}, function(d) {
    return d.median/1024;
  }), d3.max({{metric.name}}, function(d) {
    return d.median/1024;
  })]),
  {{metric.name}}_xAxis = d3.axisBottom()
  .scale({{metric.name}}_xRange),
  {{metric.name}}_yAxis = d3.axisLeft()
  .scale({{metric.name}}_yRange);

  // Axis for {{metric.name}}
  {{metric.name}}_vis.append('svg:g')
  .attr('class', 'y axis')
  .attr('transform', 'translate(' + (MARGINS.left) + ',0)')
  .call({{metric.name}}_yAxis);

  // Define line function for {{metric.name}}
  var lineFunc = d3.line()
    .x(function(d) {
      return {{metric.name}}_xRange(d.end);
    })
    .y(function(d) {
      return {{metric.name}}_yRange(d.median/1024);
    })
    .curve(d3.curveLinear); // curveBasis

  {{metric.name}}_vis.append('svg:path')
  .attr('d', lineFunc({{metric.name}}))
  .attr('stroke', '{{metric.color}}')
  .attr('stroke-width', 2)
  .attr('fill', 'none');

{% endfor %}

</script>

{% endblock %}
