{% extends "layout.html" %}

<!-- <section class=".container-fluid content"> -->
{% block body %}
<div class="row panel panel-default">
  <div class="panel-heading">Global Status <small>(total of {{projects|length}} projects)</small></div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Metric</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for metric in totals %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{metrics[metric]['name']}}</td>
          <td>
            {{"{:.2f}".format((totals[metric])*metrics[metric]['conversion'])}}
            {{metrics[metric]['unit']}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>

<div class="row panel panel-default">
  <div class="panel-heading">
    Your Projects
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          {% for metric in metrics %}
          <th>
            {{metrics[metric]['name']}}
          </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <td>{{loop.index}}</td>
            <td>
              <a href="{{url_for('kwek.metrics', project=project['metadata']['name'])}}">
                {{project['metadata']['annotations']['openshift.io/display-name']}}
              </a>
            </td>
            {% for metric in metrics %}
              <td>
                {{"{:.2f}".format((values[project['metadata']['name']][metric][0]['avg'])*metrics[metric]['conversion'])}}
                {{metrics[metric]['unit']}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>





{% endblock %}
<!-- </section class=".container-fluid content"> -->
